<footer class="footer">
    <div class="row bg-black">
        <div class="col">
            <h6 class="text-center font-weight-bold my-2">&copy; @DateTime.Now - The Aftermath: 2012</h6>
        </div>
    </div>
</footer>
