@{
    ViewBag.Title = "Backstory";
}

<div id="IM-Modals"></div>

<div class="row">
    <div class="col">
        <img src="~/Content/Images/Graffiti/apocalypseRed-900x150.png" class="img-fluid mx-auto d-block" />
    </div>
</div>

<div class="row">
    <div class="contentText col-12 border border-dark rounded">
        <div class="accordion my-3" id="backstoryAccordion">
            <!--CARD ONE-->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        TEOTWAWKI
                    </button>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <img src="~/Content/Images/Backstory/Earthquake-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br/>
                        <p>
                            December 23 2012.  The end of the Mayan Calendar and consequently the world as we know it.  It all started with an earthquake.
                            Not just an earthquake, but THE earthquake that geologists had long warned of the possibility of decimating Japan and California.
                            This wasn't just some seismic tremor, but the world shattering convulsion of mother nature herself.  Not only were the readings on this event off the Richter Scale,
                            but each tectonic plate rippled its domino effect onto its neighbor until the sequence came full circle.  The collateral damage from this event was truly catastrophic,
                            for it was not just buildings and bridges toppled in its wake, but it also woke planet earth's slumbering dragons and the fury of the sea.  Turns out that the Pacific Ring of Fire was aptly named,
                            as the initial aftershocks caused simultaneous eruption of not only the worlds active volcanoes, but even a few supers that had sat idle for thousands and thousands of years.
                            Before the survivors could even catch their breath as the ash and smoke filled the skies, the largest tsunamis ever recorded crashed ashore and took thousands of men, women,
                            and children to their watery graves.  The entire process happened in less than an hour.  There was no time to prepare, react, or even process what we just witnessed.  “And so the earth shall tremble...”
                        </p>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <img src="~/Content/Images/Backstory/Volcano-1200x600.jpg" class="img-fluid mx-auto d-block" />
                                </div>
                                <div class="col-6">
                                    <img src="~/Content/Images/Backstory/Tsunami-1200x600.jpg" class="img-fluid mx-auto d-block" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <img src="~/Content/Images/Backstory/RingOfFire-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br/>
                        <p>
                            Because of the near endless supply of volcanic ash and soot lingering in the heavens, the majority of the California coastline in ruins,
                            and the untold number of naval vessels tossed ashore or lost in transit a mere day before christmas eve we proved beyond dumbstruck initially.
                            International travel was impossible as aircraft were grounded due to the possibility of engine failure, and maritime was halted as the immense release of heat altered the atmosphere and weather patterns
                            immeasurably.  For nearly two weeks the human race was whipped into a frenzy of trying to locate their loved ones, help their fellow man,
                            or simply come to grips with the devastating change this misfortune would bring to their lives.  Early casualty estimates were in the hundreds of thousands, and this was only the beginning.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD TWO-->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        A WAR TO END ALL WARS
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <img src="~/Content/Images/Backstory/Nuke-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br/>
                        <p>
                            In the small hours of the morning sometime in mid January, the entirety of the western world lost nearly all cellular and internet service.  Many would never see it again.  Shortly thereafter,
                            true to form and letting no catastrophe go to waste, World War III commenced in a series of blinding flashes as nuclear hellfire rained down upon us.  The tactic was clear, total war, total devastation.
                            Every major port, financial center, intelligence nucleus, fuel refinery, oil field, air traffic hub, and major military installation was a target.  Even some remote locations that would make no sense
                            to us civilians were hit, no doubt the result of decades of intelligence operations conducted by our most formidable adversaries.  For the vast majority of us, this is where the world went dark as global
                            telecommunications ceased.  We were left to question how this was even possible, what happened to the rest of the world, and why our defenses failed so miserably.  Unfortunately, time has a funny way of
                            revealing all truth and makes the possibiility of the recovery effort all the more daunting.
                        </p>
                        <img src="~/Content/Images/Backstory/NukeMap-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br/>
                        <p>
                            That connectivity distruption was the result of a massive and highly coordinated cyber-warfare maneuver, which opened up the possibility to knock many of our low orbit communication satellites offline
                            with systemic overload, surgical precision, and repurposed long range missiles.  No “Eyes in the Sky” meant crippled guidance and missile interception systems, and thus a calculated risk to test the
                            theory of “Nuclear Deterrance” and “Mutually Assured Destruction”.  Retaliatory strikes were certainly launched, but in the end the once formidable military powerhouse that was the United States of
                            America was knocked out of the ring before the fight began.  Then came winter...If “War” was the first Horseman, “Death” casually rolled in and on a pale horse no less...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD THREE-->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        NUCLEAR WINTER
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <img src="~/Content/Images/Backstory/NukeWinter-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            The blizzards first commenced as freezing rain, dark as the midnight sky thanks to the remaining ash and radioactive dust.  Gradually it transformed into snowfall after it blackened out the sun and
                            forced the temperature to drop substantially.  Thanks to the eruption at Yellowstone and the particular attention payed to Texas and Pennsylvania Oil Fields the Heartlands and the Northeast got the
                            worst of it.  With the vast majority of senior leadership dead or missing, communications barely existent, and invasion imminent “Martial Law” was  the only option on the table.  It was an easy sell to
                            the public, lock down in your house, wait for the radiation to pass, and hold tight as the situation develops.  Help is on the way.  At the start, the major metropolitan areas devastated by the earth or
                            her children were the primary focus of the rescue and relief efforts.  As the polar vortex spiralled out of control and the ice kept coming, many of the lucky few miles away from the initial danger began
                            to have problems of their own.  High wind snowstorms and felled trees created their own problems for the already fractured energy grid, which in turn leads to more ruptured pipes and gas lines.
                            Many of these outlying survivors quickly found themselves all but isolated in frigid conditions without heat, power, or running water.  Thanks to the immense turmoil this catalyst caused the planets
                            atmosphere, this wasn't only happening in the North or Mid-West either.  “Old Man Winter” received and open invitation to wreck house as far south as the foothills of the Appalacias in Georgia.
                            Untold numbers of households caught unprepared either froze to death, starved, suffered a structural collapse, or fell to their “Pre-existing Conditions” without access to essential medications.
                            It wasn't until sometime in May that those who endured were able to emerge from their shelters and witness the horrors that occurred once the sun could no longer penetrate the clouds.  This was where
                            most of us got our first glimpse of our New World...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD FOUR-->
            <div class="card">
                <div class="card-header" id="headingFour">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        SOCIAL RIFTS
                    </button>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            After the thaw, the rift between human nature and the duality of man had never seemed more clear than it was during those first few weeks.  The schism between those who believed in peace, charity, and
                            goodwill stood in stark contrast to those who focus on power, position, and control as the evidence of what went down during the frigid dark gradually came to light.  Another point within the human
                            psychology that could no longer be refuted was not the difference between “good” and “evil” but rather the ease in which one aligns with either “order” or “chaos”.  The entire world found itself cast into
                            a realm of extremes, with countless variables at play.
                        </p>
                        <img src="~/Content/Images/Backstory/RussianInvasion-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            At the outset, and for the first time in generations, war was at our door.  The extent of nuclear destruction brought down on us left little doubt that we would meet the Russian Federation on the
                            Battlefield likely both here and abroad.  While the bulk of the civilian population was locking down in their homes waiting for nuclear winter to pass, Russian forces were making the most of the
                            opportunities that splitting the atom afforded them and landed a trifecta of invasion battalions in Anchorage and Juneau, Prince Rupert and Port Edward, Vancouver and Seattle.  Meanwhile, our own fighting
                            men and women were either locked in conflict overseas, scrambling to recover and deploy assets to the Pacific Northwest, and determine a logistics strategy to successfully mount this defense after so
                            much loss of infrastructure, resources, and life itself.  These were the ambitions of the ones who chose “Power” and “Order”.
                        </p>
                        <img src="~/Content/Images/Backstory/Refugees1-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            For those who decided to follow “Goodwill” and “Order” there was no shortage of goals to attain.  Between rescue and recovery, restoration of the power grid, renewal of the supply chain, rebuilding what
                            was lost, and generally simply restoring “Order” was a monumental set of tasks in and of themselves.  FEMA wasted no time establishing strongholds at assessed critical areas, and rapidly spread into the
                            countryside.  “We the People” were informed of the gravity of the situation and volunteers signed up by the thousands for both Militay and Civil roles.  Gasoline restrictions were put into effect
                            immediately, with the general consensus being “Get wherever you need to go, and plan to stay there”.  Most small towns were told that the need to restore the grid nationwide was tantamount and fuel
                            preservation for the war effort was of utmost importance.  Thus, relief efforts at their location was only temporary and they were advised to gather up their friends and family, pack their bags, and head
                            to the nearest refugee center as soon as humanly possible.  All the while every transportation terminal, hospital, pharmacy, grocery store, outdoorsman outfitter, and gas station was being secured by the
                            local police or national guard.  The race was on.
                        </p>
                        <img src="~/Content/Images/Backstory/RiotFire-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            For the people more inclined to embrace “Chaos” they prove significantly more difficult to categorize as they are inherently more fluid and adaptive in their ambitions.  However, this “New World” held no
                            shortage of uncertainty, Pandemonium would prove to be an understatement.  No matter which way you spin it, this was truly the golden age of Anarchy in the US and many had already begun their journey
                            before the thaw even began.  First and foremost, the feeling that this was in fact the “End of Days” was utterly unshakable and there was a substantial percentage of the population who were compelled
                            towards self preservation at any cost, especially after personally witnessing multiple failures of big government to provide for its people in times of crisis.  For those inclined towards “Power” and
                            “Chaos” many thought that this was the time of thier lives.  Not only was the invasion the most pressing threat requiring all of Uncle Sam's attention, organized crime wasted no timestrengthening their own
                            grip upon society as they were all but unchecked.  Cops and rivals were removed from the playing field at will as it was open season.  The Russian Mafia, or Bratva was systematically killing any surviving
                            political officials they could find and sowing as much lawlessness as possible by springing multiple prison or jail breaks just to keep the boys in blue busy.  Every terrorist sleeper cell from coast to coast
                            sprang to life for the benefit of whichever nation employed them, and we had no shortage of enemies.  Not to mention all the violent crazies who simply wanted to watch the world burn after the nukes provided
                            their signal fire.  Once again, pandemonium would be the understatement of the century.
                        </p>
                        <p>
                            After so much death and dismay, one couldnt blame those who believed that huddling together in mass could prove to be a bad decision.  It varied from region to region, but as these scenarios played out
                            nationwide there was a sharp rise in the ranks and formations of local gangs and militias out to preserve their own interests.  Again, those who embrace chaos are more amorphous and adaptive than those
                            who believe in the greater good, but the results speak for themselves.  While there were certainly still fence-sitters and people simply flabbergasted by the reality of the situation, roughly two thirds
                            of the populace outside the untouched cities heeded the warnings of the food and fuel cutoff and relocated to the designated refugee centers.  The other third, for whatever reasons they had, decided to
                            dig in and take survival into their own hands.  They would be known henceforth as the “Holdouts”.  Point being is that for most of this nations citizens, there was not a whole lot of time to weigh the
                            options.  By early June, the stage was set.  Now lets talk about the weather...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD FIVE-->
            <div class="card">
                <div class="card-header" id="headingFive">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        CLIMATE CRISIS
                    </button>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <img src="~/Content/Images/Backstory/Tornado-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            If things weren't complicated enough, the issue of climate change stopped being a question of when, but how?  The world was heating up rapidly.  The running theory is that once the ash settled, the damage
                            to the ozone layer was already done.  Between dozens of syncronized volcanic eruptions and global nuclear armageddon, the true cost to the planet rushed to reveal itself.  None of the previous weather
                            models made much sense aside from the general west to east wind convergence at the Gulf.  For most states it was simply incredibly hot and dry, with the majority of the “normal” rainfall of the year
                            transformed into irradiated snows for so long.  Not only did such a rapid thaw cause serious swelling of the rivers and overrun various dams and bridges, but it seemed to pull all the water out to the
                            ocean and then barely be recycled back in.  At least at first.  As the summer heat wave soared and tropical storms gradually began to swell, tornadoes became alarmingly frequent in the Midwest and Bible
                            Belt.  Tornado, Hoosier, and Dixie Alleys all seemed to converge on one another and only grow more common as the normal season moved into the later months.  All that was certain at this point was the
                            twisters were touching down and wreaking havoc in areas they never had before, and considerably more often.  Nearly every day one would open up and rip the countryside apart.  More bridges and roads fell
                            into disrepair, more farmland destroyed, more homes torn asunder.  This was the point where concern began to grow for the future of American Agriculture, but alas the cycle continues...
                        </p>
                        <img src="~/Content/Images/Backstory/Fire-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            As time marched ever forward, the West grew increasingly hot and dry.  With the counter-offensive raging in British Columbia and the Pacific Northwest, progress for either side proved incredibly slow
                            those first few months.  The Pacific fleet had suffered a series of defeats, and Russian reinforcements were largely unopposed in transit to their designated deployment areas.  The battle for air
                            superiority was tenuous at best, but as the logistics were being re-evaluated and essentially re-written the majority of the counter offensive consisted of guerrilla warfare and surgical strikes rather
                            than attacks en masse.  Once the heat ramped up in late summer, the Reds decided to both continue and fully embrace their “Scorched Earth” policy with us.  Armed with incindiary warheads, they launched
                            strikes from Los Angeles to Portland only stopping at the Hood River and with so much infrastructure already ravaged from the quakes and the war there was little hope of fighting fire on that scale.
                            This assault will forever be known to the American people as opening “Hells Gate”, and for those who didnt or couldn't flee, all they could do is dig in and watch it burn.  For years the thousand mile
                            stretch from Bakersfield to Mt. Saint Helens was little more than desolate and charred wasteland.  To the bulk of the men and women deployed there, this was where they truly understood that their mission
                            wasn't reclamation as much as it was resistance.  To everyone that witnessed “Hell's Gate” dissillusionment was the word of day as droves of refugees made their way east by any means necessary.
                            Those that survived by hitchhiking or travelling on foot have been coined “Firewalkers” as both a source of pride and pity.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD SIX-->
            <div class="card">
                <div class="card-header" id="headingSix">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        AMERICA ONLINE &amp; BRICS
                    </button>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <img src="~/Content/Images/Backstory/AOL-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            The only good news that came from that summers torridity is that after much trial and error, the power grid was eventually restored in most key cities, which allowed industry to ramp up wartime production
                            for the forces entangled and rallied against the Russian invasion effort.  Additionally, limited communication systems were successfully restored locally thanks to peer to peer relays and wide area
                            networks, though limited range meant they were barely existent for the neighboring suburban and rural areas.  A critical choice had to be made, restore power to these “Hubs” consistently and provide some
                            sort of stability, or push for full restoration and have the  connection remain spotty at best as severe weather continued to impact the associated regions.  The choice seemed clear.  To all those that
                            refused to leave their homes outside of these Hubs and pursue their lives in any unorthodox Machiavellian fashion, both friend and foe alike, were left both literally and figuratively “in the dark”.
                            All remaining food and fuel was allocated to the continuation of governance and its defense both within the Hubs and at the battlefields of the Northwest, and anyone outside of these realms was left to
                            fend for themselves in what has come to be known now as “The Outlands”.  As the telecommunications network expanded to link each hub with its neighbor, more and more information began to pierce the veil
                            and we learned who the real enemy was...
                        </p>
                        <p>
                            Apparently, mother earths siezure proved to be the spur necessary for the BRICS to pursue its intent of replacing the US Dollar as the standard of international exchange.  Modern warfare always boils down
                            to money.  With Japan lying in ruin, it had lost its role in that regard, and with the stage set this coalition had a once in the lifetime of an empire's opportunity to tip the scales in their favor.
                            Brazil, Russia, India, China, and South Africa compose the BRICS and have held this lofty goal close to heart since their inception.  Brazil's role was reasonably straightforward, prevent Venezuela from
                            continuing to ship crude oil to the states and curry as much favor and anti-american sentiment in South America as possible to ensure that minimal assistance flowed north.  Not particularly difficult
                            after generations of political destabilization efforts.  Russia's military might was their bargaining chip in this plan, they lead the initiative in the physical removal of the satellites to facilitate
                            the extensive nuclear bombardment through bypassing our interception systems.  Afterwards they commenced the invasion into Alaska and Canada in order to secure the oil present there.  The opening assault
                            would secure Alaskan oil and naval ports along the coast of British Columbia, which were to be used to conduct a two pronged assault.  One fork would continue east to capture the Canadian oil fields in
                            Alberta and Sasketchewan. The other fork would  push down the west coast in order to remove any capacity of influencing naval trade in the Pacific.  With Alaskan, Canadian, and Venezuelan Oil off the
                            table for us, combined with the fact they glassed all of our domestic fields and refineries they not only would become the predominant oil supplier of the entire world, but would also remove our
                            functionality as a mobile military force until we rebuilt.  India and China were the leaders of the cyber-warfare aspects of this daring plan, contributing heavily to the satellite neutralization efforts.
                            India has long served within our existing communications and information technology infrastructure, and China has been supplying consumer electronics and replacement parts since the inception of the
                            internet.  With that in mind they have long held a key to the backdoor via the hardware many, many different systems.  As a manufacturing powerhouse countless tons of machinery, parts, medical equipment,
                            and generic pharmaceuticals were already developed in their borders, all they really needed to do is stop service to deliver a scathing wound.  After the “Bailout” in 2008, it's likely they decided they
                            would never see any real return on investment and chose to cut their losses.  Additionally they all worked together to outbid us on Saudi Arabian oil access, and it was simply a matter of strangling our
                            military and financial influence now that the cards were revealed and our domestic industries halted.  Conquest was not the objective, only control, and there was an immense difference between the two.
                            We were truly operating on self defense for the first time in over a century, and this was only the first chapter in the “War to End All Wars”
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD SEVEN-->
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        ISLAND EXODUS
                    </button>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <img src="~/Content/Images/Backstory/HurricaneWinds-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            Enter Hurricane Season...The first thing that became evident was the frequency of the storms only increased ever so slightly.  The major difference was the sheer magnitude of them.  Not only were the
                            squalls that would break away from the tempest's hearts quick to turn into whirlwinds of ruin, but once the cores made landfall they would often decelerate to a crawl.  This created throngs of slow moving
                            downpours that would last for days and flood everything in their wake.  In the Southeast mudslides and flooding rapidly reached biblical proportions, but comparatively this proved to be a near inescapable
                            nightmare for the residents of the Carribean.  Haiti and the Dominican Republic were already rocked by the initial quakes, and they had only just  begun to recover before having their entire island
                            bombarded repeatedly by these enormous typhoons that seemed to swallow their lands whole and wash away their homes.  By October, a mass exodus of all the Carribean was underway due to the elemental
                            dangers and severe supply shortages that challenged the very concept of survival.  Only the most stalwart, steadfast, or stupid remained in the islands as the evacuations began.  For better or worse,
                            it seems that the American Dream was still in the hearts and minds of these poor souls who fled north and managed to withstand their harrowing passage into our wartorn nation.  These displaced migrants
                            share tales of golfball sized hail, gale force winds, blinding spindrifts, and entire vessels lifted from the waves and flung like toys as they sent thousands of people to their final resting place at the
                            base of the Atlantic floor.  Then you can see the sorrow in their eyes for those who failed to board the boat at all.
                        </p>
                        <img src="~/Content/Images/Backstory/Hurricane-1200x600.jpg" class="img-fluid mx-auto d-block" />
                    </div>
                </div>
            </div>
            <!--CARD EIGHT-->
            <div class="card">
                <div class="card-header" id="headingEight">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        REFUGEES &amp; REFORMS
                    </button>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <img src="~/Content/Images/Backstory/RefugeeCamp-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            With the steady influx of nearly the entire population of the west coast and carribean seeking asylum in their respected hubs, combined with those who attempted to make it on their own before eventually
                            being forced to admit they were not prepared for another harsh winter, it didn't take long for the refugee centers to swell beyond capacity.  In the beginning those seeking refuge would find themselves
                            about where one could expect.  Hotels, civic centers, stadiums, warehouse conversions, corporate offices.  Once these filled, people began to simply squat in abandoned storefronts and shops,
                            breaking and entering in any unoccupied space with four walls and a roof, then parking decks, alleys, and breezeways.   Reliance on the old system of “On Demand Shipping” was no longer a possibility with
                            gasoline proving to be a wartime neccesity in short supply.  While the stockpile of emergency goods was not yet in jeapordy, it quickly became clear that it would only last so long.  As it stood, it was
                            only a matter of time before desperation would drive those who had already lost everything past the point of no return.  A new blueprint for the survival of one nation indivisiblewas mandatory, as we were
                            truly pushed to the brink of collapse.  Delivering any potential long term solutions were tentative at best and each locality had its own spin, but a few universal approaches emerged little by little,
                            inch by inch, with the exception of one.
                        </p>
                        <img src="~/Content/Images/Backstory/Inmates-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            Across the board, anywhere that managed to maintain some white knuckled semblance of control during all this came to the consensus that “Convict Labor” needed to be re-evaluated and utilized immediately.
                            These men and women owed a debt to society, and at this particular moment, society desperately needed to collect.  With big agriculture dealt a vicious coup de grace, and the prolonged decimation of the
                            midwest by twisters unending, the primary problem putting inmates to work could solve was food shortages.  The next highest priority was the war effort, so either by conscription or the promise of pardon,
                            those who were deemed combat capable found themselves on the front lines.  For the areas that held any capacity for production, their factories were either repurposed or updated for ordnance and
                            provisions.  The next obvious objective was infrastructure.  There was a veritable myriad of roads and bridges in desperate need of repair, and with fuel being scarce, restoration of the railways was one
                            of the only discernable long term solutions.  Last but not least was the actual civil service for the overburdened refugee centers, tasks like running soup kitchens and laundry services,
                            garbage collection, and shelter construction.  Really anything to free up more of the workforce to address the more pertinent tasks at hand.
                        </p>
                        <p>
                            On that note, another wide spread reform occurred to alleviate the needs of the people and re-center their focus was the passing of the torch of public education from the state to the federal level.
                            For this, Uncle Sam expanded the responsibilities and the reach of the “Youth Corps” in order to reduce the burdens of parenthood and usher more of the adult population back to return to the workforce.
                            The promise held that they would provide education, food, clothing, and if necessary shelter to the children of america while their relatives contributed to the recovery of this great nation.
                            The counterweight here was they also reinstated the draft, so read between the lines.  No matter which way one rolls the dice, any aid for the safety and security of ones offspring during these trying
                            times was a welcome gift.
                        </p>
                        <p>
                            Another key point here is the largely subsidized formation of privately owned Asset Recovery Teams with one simple goal.  To venture into the Outlands and secure anything of use that was overlooked during
                            the scrambles right after the thaw.  This meant establishing trade with any of the Holdouts that were doing well for themselves; securing any specific goods, tools, or machines that had particular purpose
                            but weren't immediately useful for homesteaders; and probably most important was to unofficially keep tabs and gather information on any developing news outside of the Hubs.  The bulk exchange rates were
                            particularly lucrative, but the fact that the operatives could skim off the top and no-one was the wiser made this an enticing high risk high reward career path.   The door swings both ways though,
                            the need for private teams meant that the ones paying wanted to keep their vested interests personal, and if they were directly employed by local governments it usually meant that they were being used for
                            a metric of plausible deniability.  Either way, this was the officially the start of a long running relationship of keeping communications open with the denizens of the Outlands.
                        </p>
                        <img src="~/Content/Images/Backstory/LFI-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            Finally, in order to offset the need to transport meals from farm to fridge, a massive campaign ensued to jumpstart the newly formed Local Farming Initiative.  The shift towards locally sourced sustenance
                            was inevitable given the circumstances, but because the concept only gained any real ground so late in the year, public education seminars and large scale planning was the first step. However, right off
                            the top any large offices or unused highrises with their windows intact were swiftly being converted into greenhouses.  Before winter set in there was a mass movement to repurpose every open rooftop,
                            playing field, golf course, riverbank, and parking lot into high yield urban gardens.  Most places started with root crops, but with the long term in mind those aforementioned Asset Recovery Teams were
                            being paid top dollar for seeds.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD NINE-->
            <div class="card">
                <div class="card-header" id="headingNine">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        HARSH WINTERS
                    </button>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <img src="~/Content/Images/Backstory/PNW-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            Much to the dismay of the soldiers on the lines, that first winter after the apocalypse was incredibly mild until late December, which meant the engagements were frequent, bloody, and continuous.
                            Once the cold fronts eventually made their appearance known though, it all changed in an instant, like the flip of a switch.  Planet Earth would forevermore be a world of extremes with minimal transitions,
                            but it did afford the troops a small reprieve from the brutality of war and repelling an invasion.  Historically speaking, Russian soldiers knew better than attempting to force an advance during the winter
                            months and seemed perfectly content with reinforcing their positions across Washington and British Columbia.
                        </p>
                        <img src="~/Content/Images/Backstory/HarshWinter-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            For the civilians, we just considered ourselves lucky that this time around it didn't seem like Old Man Winter came through, lingering about and overstaying his welcome.  It was more like Jack Frost
                            rolled in hard and fast, but then rode off just as quickly.  Don't be mistaken, the cold was fearsome for the Midwest and the Northeast once more, and again it pushed further south than it had in the past,
                            but it was a no small relief that one didn't feel quite so buried and abandoned as we did before.  The worst of it was over by March, much like the days thought lost to us.  Once again, we saw severe winds
                            and sporadic cold fronts afterwards, which spawned more cyclones but the pattern seemed to hold.  This was to be the new cycle, chaotic but relatively predictable in the worst kind of way.  From then until
                            now, there has been a small sense of security masquerading beneath the fear of pattern recognition.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD TEN-->
            <div class="card">
                <div class="card-header" id="headingTen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        SHIFTING DYNAMICS
                    </button>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            As far as the civilian population was concerned, that was about the size of it.  Each state had its own microcrises here and there, but generally speaking the worst of it was over.  For years we were 
                            caught under this never ending fear of the battlefield reaching our neighborhoods, and for years most people did everything they could to make sure that never happened.  For nearly a decade the resistance 
                            was the primary focus of the nation.  After the initial shock that the end of the world passed, we were left to face the reality that our era of prosperity, abundance, and life of liesure had come to an 
                            end.  We merely survived trying not to think too much about “the good old days”.  Obesity isn't much of an issue currently.  If the question is how, thats not really an easy one to answer.  
                            It's important to remember this is a massive nation and a cultural melting pot, but we can try to put it into general assessments.
                        </p>
                        <p>
                            The first few years were definitely rough.  Once people fully came to grips with the situation, and were able to shake off their disbelief, things went about as one would anticipate.  Most were quick to 
                            adopt alternate forms of transportation early.  Bikes and skateboards were worth their weight in gold, even to this day really.  Eventually the livestock industry recouped its strength, and it was 
                            reasonably common to see Outlanders strolling in on horseback or cattle drawn carts made from old pickup beds.  Public transit ran for as long as it could before it simply started cutting its routes down 
                            to critical jobs.  Most people walked, but anywhere there was a subway that was clearly the preferred method of transit.  A lot of emergency crews and essential transit vehicles were happy to let people 
                            hop on the back or hold on tight.  If it was worth the risk, go for it just don't expect them to stop if someone ended up eating asphalt.
                        </p>
                        <p>
                            There was definitely a long period of time where the ambitious and distraught who wanted more for themselves turned to crime.  In the Hubs, prostitution, gambling, and gang skirmishes would run rampant 
                            for a while as a new criminal underworld began to sprout.  Knives definitely came back in a big way.  Most of this was fueled by the activities of the Outlands where banditry was common but more or less 
                            the worst of it happened out there, where frontier law was the only justice to be found and no-one was eager to serve.  The spoils made it back to the hubs to be sold and recycled back outwards, 
                            but barter economies largely fall in favor of the ones that have which is in highest demand.  For the Hubs that meant survival and continuity, and with that in jeapordy for both citizens of the cities 
                            and the outlands alike, theres little question who ended up with more per capita.  Make no mistake, out there it was basically the “wild west” and in a lot of ways it definitely still is but its nothing 
                            like it was in the beginning.
                        </p>
                        <p>
                            As the Hubs grew more and more stable, a lot of them started their own “Squatters Enterprise” in order to ease the pressures on their overburdened public service sectors.  The idea was reasonably simple, 
                            a lot of records were destroyed and a lot of houses sat vacant.  If you could prove residency unopposed for two years, a new deed would be issued, limit one per family.  The power grid was expanding ever 
                            outward, so eventually the home would be worth the effort and once the war was over and gas restrictions eased up it would not matter how far out anybody ended up.  It was actually a genius way to get 
                            people to focus on doing something for themselves again while paving the way and making it easier to reclaim what was currently off grid.  As more and more people headed out, things got easier in the Hubs, 
                            and new trade routes between them started emerging as they handled their own conflicts with whatever they encountered, everyone wins.  At first there were definitely a lot of horror stories that circled 
                            around of settlers going missing and atrocities between neighbors, but given enough time it proved marvelously successful.  Once enough of the railroads were restored and improved upon east of the 
                            mississippi it proved doubly true.  On one hand simply because of their own capacity, but on the other the excessive river swells in late spring and hurricane season lead to the resurgence of riverboat 
                            trade.  Other than during the extreme droughts in the summer, ferries and tugs can get goods from the Gulf to Minneapolis, Pittsburgh, Knoxville, Tulsa, Billings, and Great Falls without much issue other 
                            than the occasional outlaw or pirate.
                        </p>
                        <p>
                            In any event, as the power grid kept creeping outward, security systems kept improving.  Both makeshift and modern CCTV systems are everywhere now, the cellular relay system got more and more reliable as 
                            everyone started spreading out a little bit, and somewhere along the way the national guard started making widespread use of mass produced armed quadcopters.  With eyes ever watching and being the only 
                            ones with access to fuel for rapid response, it proved to be an impressive deterrent for keeping Outland problems well outside and away from the Hubs long term endeavors.  Combined with the fact that all 
                            munitions production went directly to the war effort and zero consumer sales have occurred in ages, the fact is that at this point cops and soldiers are basically the only ones with access to firearms 
                            after so many of the Outlanders spent years shooting one another and burning up all their bullets.  Fact is no real access to guns or fast getaways does wonders to stifle violent crime.  It still happens, 
                            certainly, but its almost always outside of the city limits.
                        </p>
                        <p>
                            Another major point to the expanse of the electrical grid being counter productive to criminal activity is that somewhere along the line it became clear that something needed to be done about banking.  
                            It became clear fairly quick that there just wasn't enough cash in circulation to use that method.  For a while, big companies tried paying people in their corporate “script” but the exchange rates 
                            proved incredibly difficult to monitor and more importantly regulate.  In the end, with each Hub reliant upon its own WAN's and peer to peer telecommunications, the simplest answer was for each one to 
                            create their own cryptocurrencies backed by the obvious oversight of relaying all information off of and through each device anyway.  Everyone gets a free phone app for exchange, everything is monitored, 
                            its about as secure as it gets.  Then to tighten the grip, the Hubs started offering two to one exchange on physical dollars for digital currency.  As the trains grew more and more capable to deliver 
                            surplus food and supplies between the Hubs once again and the freight system began to grow exponentially once more, it got considerably easier for the liquid assets to circulate and reinvigor all the 
                            necessary industries.  The cash is then used to grease the wheels of the barter economies with the Outlands, and despite all of the original doubt the system seems to work so far.  Since most states 
                            simply overlook petty crime like drug possession and public intoxication, the drive for under the radar private exchange is pretty low in the US as far as most people can tell.  The only exception might 
                            be the severe shortage of ammunition but then again theres no wonder why the barter system is still in play to this day, once you really think about it.  For nearly half a decade the base trade 
                            equivalency was that a single bullet was worth four canned soups...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD ELEVEN-->
            <div class="card">
                <div class="card-header" id="headingEleven">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        WAR &amp; PEACE
                    </button>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            For the record, the war never officially ended, we just agreed to a cease-fire.  That's a point of pride for a lot of our veterans.  Concern too probably, but either way after eight grueling years of fire,
                            bloodshed, starvation, bitter cold, death, dismay, and sheer horror at the nonchalant disregard for human life on such an enormous scale the United States signed an agreement to end hostilities against
                            Russian and Chinese forces.  Say what you will, but in the end the BRICS achieved most, if not all of their original objectives in spite of us making them fight tooth and nail for every inch of ground they
                            now claim as a recognized territory.  On the flip side of that coin, it seems safe to say that they severely underestimated us as well.  As information from overseas trickles in little by little, they
                            clearly did not think it would take this long or cost them so many of their own youth either.
                        </p>
                        <p>
                            How did we reach this uncertain truce?  The fact is that once the Eastbound fork of the Russian assault captured Edmonton and Calgary we couldn't hope to uproot them after they dug in.  Strikes began to
                            punch into Montana and North Dakota and it became clear we had to act fast to halt the advance or the lines would inevitably break.  We were doing reasonably well at holding their Southern prong from
                            Mt. Shasta, in spite of red marines landing in Eureka but Oregon and Washington were lost causes by that point.  In a last ditch effort our ruling Military Stratocracy deployed what they called
                            “The Omega Protocol”.  First the oil sands in Alberta and Saskatchewan were set ablaze, and then the remainder of our nuclear arsenal waited until the majority of the Russian Fleet returned to the
                            Salish Sea or Anchorage and Juneau and we crippled their navy by launching fire and fury at “strategic locations”  within our own borders.  Not sure how many people believe the Collateral Damage estimates
                            to any remaining civilian population there but the sad truth is that if they were still in the area, we had not received word one from them in half a decade.
                        </p>
                        <img src="~/Content/Images/Backstory/Nuke2-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            Shortly thereafter NATO forces and African mercenaries under the employ of undisclosed benefactors finally began arriving to assist, but they could only land on the east coast in the slowly recovering
                            harbors along the Atlantic seaboard. With their support we pushed north at every front with all the might we could possibly muster. Without fresh Russian troops reinforcing and mobilizing from their ports
                            in the west anymore, we somehow forced their hand into a trap of attrition, abandonment, and ruin at Winnepeg.  We knew they believed that last stronghold was going to be the finish line for their eastern
                            campaign before attempting to force their way south, so between ourselves and our Canadian hosts we collectively agreed to evacuate early and left all sorts of nasty surprises waiting for them.  It was
                            time to end this.
                        </p>
                        <img src="~/Content/Images/Backstory/WarsEnd-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            With the Russians held in place, essentially just digging in and attempting to fortify what they spilled so much blood for, the Chinese confirmed all previous suspicions by proving that they really didn't
                            want any risk of future leverage or influence from the states in the Pacific.  Unfortunately for us, their marines were fresh and fighting fit whereas our men and women willing to kill and die in that
                            scorched hell were already weathered and weary.  Many people view this as a major oversight of the “Omega Protocol” but in the end the opinions of the mundane members of society don't much matter.
                            Their surprise attack hit San Francisco, Los Angeles, and San Diego hard but in the end only the Golden Gate fell.  Rather than engage our soldiers in the hills, they drove their wedge hard into
                            Sacramento.  After a few weeks, the capitol surrendered and the troops still lingering in the north were relocated to the defense of LA rather than be caught in a pincer maneuver between central
                            California and Oregon.  Fast forward a couple of months of repelling our invaders from the far east in the City of Angels; recognition of an impasse was finally reached; the treaty was written;
                            ruefully signed; and we were finally able to breathe a long overdue and exhasperated sigh of relief.
                        </p>
                        <img src="~/Content/Images/Backstory/Fireworks-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            To this day, the ruins of Los Angeles are split in two.  Everything west of I-5 is considered an occupied territory of the Peoples Republic of China.  From the highway it runs due north along the 14 to
                            395 and then covers all of the charred remains to Redding.  Death Valley poetically remains ours.  The Russian Federation controls everything north of Redding to Alaska, with an almost straight line of
                            countryside running from Bend Oregon to Calgary Alberta.  The provinces of Alberta and Saskatchewan are included in this deal, but the Canadians were able to negotiate for the liberation of Winnepeg and
                            Manitoba. The Demilitarized Zone basically consists of the entirety of desert and shrubland running south to north until Twin Falls, and then is the western half of Idaho to the Canadian Border.
                            The remainder of the Pacific Fleet was to pass through the Panama Canal into the Gulf of Mexico, and naval inspections could be conducted on any ship deemed necessary at port in San Diego.
                            There were also endless details and decrees regarding political interference in the South Pacific, Middle East, South America, South Africa, and Eastern Europe being considered a “Breach of Treaty” but
                            that was intrinsically the end of our custom designed hell on earth.  The war still rages elsewhere in the world, namely the Middle East, South Pacific, and Eastern Europe but again our hands are tied.
                            There are definitely still resistance operatives within the occupation and DMZ years later, but they have been classified as rogue agents so long as they are in no way financed or harbored by the
                            United States Government and recognized as terrorists operating against the best interests of their own people...but that was it.  It was finally over.  The world didn't end.  Our food and water wasn't
                            an inconsumable irradiated death sentence.  If you prefer the illusion of safety and the luxuries of the 21st century you can go to the Hubs.  If you prefer the concept of freedom and all of its
                            associated risks you try your luck in the Outlands.  Either way, life goes on...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD TWLEVE-->
            <div class="card">
                <div class="card-header" id="headingTwelve">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        NATURES SWING
                    </button>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            It's been two years since that long awaited and hard earned day of reprieve and we are well past the post war celebrations and their associated baby boom.  Now the real and concerted efforts of renewal
                            and recovery can at long last commence.  The greatest obstacles ahead are global, making for a reasonably fair and equitable set of challenges that apply to all.  Primarily there is the recovery of
                            infrastructure and agriculture in the midst of a never before seen rate of increased global warming.  The effects it has had on weather patterns has been staggering, and only seems to be growing less
                            and less compatible for the old methods to thrive once more.  For the US in particular, every season holds its own threats and concerns.  The winter season begins considerably later than usual,
                            and is considerably shorter but also more severe.  With snowfall being less consistent, the alteration of the water cycles seems to be the most obvious transfomation.  Aside from that the drastic
                            temperature shifts are the most common symptom and lead to sporadic blizzards, whiteouts, and even thundersnows typically in the northeast and midwest, reaching further and further south along the
                            Mississippi tributaries and channels. January to March hold the highest prospects of hardship.
                        </p>
                        <p>
                            Spring tends to bring heavier rains than days past, but only where water is abundant and this often leads to suprise cold snaps.  Consequently, tornado season has less of a transitory period and is
                            growing increasingly more active with a rising number to touchdowns within a wider area.  Specifically, the south is proving much more vulnerable than it was previously though tornado alley still gets
                            more than its fair share.  Ergo, this makes the old methods of large scale agriculture problematic.  Not only are the twisters a constant threat to the croplands and their overall yields, but they also
                            consistently damage roadways, train tracks, and power cables.  As it stands, April to June seem to be the time of year to keep ones eyes on the horizon.
                        </p>
                        <p>
                            Summer seems to be growing hotter, drier, and longer by the year much to the dismay of farmers, ranchers, fishermen, and even the river systems themselves.  This is no doubt due to the shift of the water
                            cycle, particularly less snow means less melt down the mountainsides, less fed into the rivers at a consistent level, thus the entire revolution and rhythm is off sync comparatively.  In unison,
                            this also leads to increased risk of wildfires in many regions as well as the serious risk of dehydration and sunstroke for those in the Outlands with no air conditioning or running water.
                            Travel across the Great Plains and desert territories is ill advised between June and September, which coincidentally is also when Outlanders should remain alert to the possibility of wildfire due to
                            heat lightning or accidental ignition.
                        </p>
                        <p>
                            For those along the Atlantic, hurricane season ramps up between late July and November, which leads to much higher risk of high wind storms at first, and then slow moving heavy rain and flash floods once
                            they make landfall.  The breakaways of cooler condensation that tend to splinter away from these cyclones are also responsible for the late season tornadoes that occur within Cyclone Boulevard as well.
                            Often once these storms pass it shifts right back to excessive heat, which has had some particularly interesting implications for all manner of flaura and fauna.  For those in the Outlands, the CDC
                            recommends that they pay particular attention to the possibility of mold and parasites during this time as well as ensuring their roofs remain in good working condition before the winter settles in.
                        </p>
                        <img src="~/Content/Images/Backstory/NatureReclaims-1200x600.jpg" class="img-fluid mx-auto d-block" />
                        <br />
                        <p>
                            On a lighter note, it turns out that the animal kingdom has been doing increasingly well without the constant expanse of civilization into its few remaining habitats.  With substantially less thousand
                            plus pound machines barrelling down the roadways at high speeds, perfectly manicured lawns, and excessive pesticides being deployed constantly; wildlife has been experiencing a golden era of resurgence
                            and natural beauty.  Entire neighborhoods have been reclaimed by plants and animals alike.  Deer proliferate in the Outlands, and other animals brought to near extinction seem to be adapting exceptionally
                            well to this new world of ours.  The alligator has spawned immensely and reconquered the vast majority of its natural habitat.  Coyotes run rampant in the west, and the both the Grizzly bear and the wolf
                            thrive once more in the mountains and forests they call home.  The same is true of the moose, elk, and carribou.  Even the big cats and the condor are eating well these days.  Seems that once humans
                            insatiable expansion is put in check, the other creatures of the world are quick to recover and make the most of any opportunity that presents itself.  Which leads us to where we stand today, mankind in
                            America.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD THIRTEEN-->
            <div class="card">
                <div class="card-header" id="headingThirteen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        1ST REALM: URBAN AMERICA
                    </button>
                </div>
                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            The Hubs are where the survivors of apocalypse can find the closest reflection of the world they have lost. Every major city is rapidly approaching the resurrection of the life and concepts once taken 
                            for granted, and the legal system left still standing will let nothing stand in the way of progress. These metropolises are where all commerce and exchange originate, and there are opportunities aplenty 
                            for a life of peace and prosperity if one plays by the rules. At this point, the munitions production is in overdrive, though absolutely zero rounds are offered up for sale to the general public. 
                            Sheriffs and Soldiers are the only human beings that can get their hands on new bullets. Period. This is also where one can find gasoline, at the affordable national average of 118.99 per gallon but only 
                            in select and highly monitored locations with a 10 gallon ration per week. In spite of this, one can find work, electricity, plumbing, a hot meal, thriving shopping centers and flea markets, 
                            massive urban gardens, orchards and botanical hubs, an internet and telephone connection, safety and security, alcohol, gambling, and all the boons that modern society has to offer. These privileges are 
                            ever guarded via CCTV camera systems, police and private security, the national guard, and numerous inhabitants that are all too happy to deliver “street justice” if the need arises. In the larger and 
                            more critical locations there's fleets of armed aerial surveillance drones ready at a moments notice.
                        </p>
                        <p>
                            This is also where you will find a sharp contrast between the “haves” and the “have-nots” as all who find themselves living here cling to this type of existence, this lifestyle, and will fight tooth and 
                            nail to preserve it. Here is where thousands of people crowd together and will happily sleep on the streets, in long derelict vehicles, or in makeshift shanty-towns as they attempt to pull themselves up 
                            by their bootstraps. Gambling and addiction are prevalent here, as is an irrefutable desperation for those who find their livelihoods threatened by the constant influx of both Outlander and “illegal” 
                            immigrants from the Carribean or South America competing for resources as they have been for the last 10 years. This is also the heart of the prison industrial system, and those who get too reckless find 
                            themselves in bondage making the whole thing possible, often within a never ending cycle. This is where corruption reigns, and this is also where you can find yourself with a knife in your belly or a 
                            boot on your neck in the blink of an eye. Newcomers would do well to tread carefully, there are plenty of predators within the concrete jungles.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD FOURTEEN-->
            <div class="card">
                <div class="card-header" id="headingFourteen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                        2ND REALM: THE SUBURBS
                    </button>
                </div>
                <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            The suburbs are arguably the most dangerous place to be in post war America as this is the battleground for the contest between anarchy and order. Do too well and you attract the attention of the 
                            urban underworld, do poorly and you will find yourself picked off by the bandits of the Outlands. Theres also the possibility of simply pushing too far with ones neighbors.  The key point to remember 
                            is if this is where you should find yourself, it is best to keep in mind that many areas have yet to regain electricity or cell phone signal to call for help. Once the sun sets, you are on your own. 
                            That isn't to say that there is not a strong sense of community in most places and they do not shy from danger. Many people set out in groups of 10 to 20 seeking better fortune just outside city limits 
                            and they maintain a close network and an ever watchful eye because the law of the land seems to be that survival depends upon forcing the predators to pick easy targets. As is the course of human nature, 
                            there is always a bigger, badder, and more organized group that preys on the weak. This is where people who work in the cities but cant afford rent disappear on their way home. This is also where packs 
                            of wild dogs and other scavengers take refuge until its time to forage for their next meal, and they don't much care if that means having to sink tooth or claw into those that still scream.
                        </p>
                        <p>
                            Regardless, this is also where one can hang on to nearly every cent of their hard earned dollar and stake a claim on their own house, raise their own crops and livestock, and keep everything they have 
                            scrounged since the end of days for themselves and their children, and possess a strong sense of investment toward the future. Seems everyone raises chickens these days, and those who band together tend 
                            to do exceptionally well, considering the alternatives. It is important to note that you can never forget that this is where the worst of the worst hide out, looking to swoop down on any travelers making 
                            the journey between cities and relieve them of their livelihoods and often their lives. The most common piece of advice revolves around maintaining a schedule and knowing the routes to and from the 
                            trading centers or job sites. Traveling in groups, knowing when to fight, when to run, and when to forfeit helps too.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD FIFTEEN-->
            <div class="card">
                <div class="card-header" id="headingFifteen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                        3RD REALM: RURAL AMERICA
                    </button>
                </div>
                <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            The Sticks, the boonies, the Outlands, the frontier, the wilds, call it what you will. Rural America, and those who claim it as home, have very few of the privileges of the Urban or Suburban realms.  
                            Here is where nature reigns supreme, be it mother earth herself or any of her children. The good news is that with so few on the roads for so long, wild game has proliferated within the trees and plains. 
                            All of the overlooked salvage and the fruits of natures bounty remain basically untouched for the better part of ten years. Should you find the right spot you could easily live a life of peace and quiet, 
                            undisturbed by the toils and troubles of today's world or the ghosts of the last.  It all depends on whether or not you can embrace the environment as your guardian and provider while forsaking the drive 
                            to acquire technology, luxury, and opulence. All that was abandoned is overgrown at this point if in the right atmosphere, or merely desolate in the others; but with the right skills and know how it is a 
                            landscape of abundance for those willing to do whatever is necessary to survive and thrive.
                        </p>
                        <p>
                            Unfortunately, this is also where those who find themselves on the other side of the law seek to flee, performing nomadic evasion tactics, robbing and raiding along their path, and performing guerrilla 
                            warfare against their pursuers if they think the odds are in their favor.  These ruthless few are quick to take what they need, and often simply whatever they want, from those who stray too far from the 
                            protection of the metros or highways.  It is also all too easy for people to have a series of unfortunate events battling the elements, fail to pay attention and end up on the receiving end of a surprise 
                            dose of venom, or simply be in the wrong place at the wrong time and wind up as somethings dinner. You are on your own out here, away from any stranger or good samaritan's help. Frontier law and survival 
                            are the only rule of the land and people can just disappear without a trace. There is an enormous amount of territory that fall into this category of environment, and should disaster strike no-one will 
                            ever know.  These are the realms where the Holdout settlements shine brightest as the beacons of compromise, somewhere between wild and civil, much like their inhabitants.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD SIXTEEN-->
            <div class="card">
                <div class="card-header" id="headingSixteen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                        FINAL REALM: INCARCERATION
                    </button>
                </div>
                <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            Last but not least, we have the grisly underbelly of post-apocalyptic society that makes everything possible. Regardless of whether the inmate population consists of the so called “dregs of society” or 
                            the unfortunate souls who simply made mistakes like stealing to feed themselves and their family, pissed off the wrong cop, or got into a fight and things went too far; the system doesn't discriminate, 
                            at least on paper. While most petty crime was simply overlooked during the war, with its end there seems to be a gradual return towards “Zero Tolerance”.  No matter which way you look at it the end result 
                            is the same, prisoners are the backbone of the current labor system and with communications being what they are at this point, what happens in confinement stays in confinement. For better or worse.
                        </p>
                        <p>
                            The first thing that needs to be understood is that again, America is a massive nation and oddly enough the prison system remained largely unaffected by the almost all of the events that transpired. 
                            The only real difference is that instead of simply warehousing and stockpiling inmates as they had done historically, with the recovery effort in full swing they transformed into labor camps. 
                            Thanks to the sheer size of the country, the labor itself varies from place to place, but generally speaking the output is the same. In areas where the land is fertile and the prisons already reside you 
                            can expect hard labor in the fields. In some areas it is food, in others it is cotton or luxury crops like tobacco. Other regions send their inmates to mine coal for the trains or harvest timber quite 
                            literally for the reconstruction efforts. In other zones they work sorting freight or mail. Along the trade routes they get shipped out to repair roads, train tracks, or bridges. In the urban areas they 
                            perform trash collection, shovel snow, work the local gardens and nurseries, or engage in community service day in and day out. In the end the prisoners do whatever is necessary at the base level for the 
                            rest of society to build momentum in specifics. Its estimated that 60 percent or more of the current fuel consumption is dedicated solely to the transportation of this unpaid workforce.
                        </p>
                        <p>
                            If anything happens to you during your workday, and your odds of survival are low you are buried on site and the official statement is nearly always an “escape attempt”. Both the corrections officers and 
                            the inmates themselves could care less if you fall, often there seems to be a small sense of envy. This is especially true for the lifers. To make matters worse the conditions are absolutely atrocious. 
                            Corruption among the officers runs rampant, the sense of gang solidarity even more so, push too far in one direction or the other and you're never heard from again. Food, healthcare, and common decency 
                            are barely existent and many of the particularly unhealthy frequently fall to disease, malnutrition, inclement weather, or sheer physical exertion. These cases are noted as “Natural Causes”, but only if 
                            they occur within the housing facilities. Many suspect that the lighter sentences applied today were simply put in place so that the strong could get out and recover from their ailments before being put 
                            back in to work again, effectively increasing the likelihood of survival by taking a fully hands-off, zero responsibility approach. Of course it's then justified by stating “You have to be crazy to keep 
                            coming back here” and thus the cycle continues as parole violations increase. In most states, the “Three Strikes” rule still applies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Custom/SignalR-IM.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
}