
@{
    ViewBag.Title = "Playbook";
}

<div class="row">
    <div class="col">
        <img src="~/Content/Images/Graffiti/playbookWhite-900x150.png" class="img-fluid mx-auto d-block" />
    </div>
</div>

<div class="row">
    <div class="contentList col-3 col-md-2 border border-dark rounded">
        <h6 class="font-weight-bold text-center text-info">CONTENTS:</h6>
        <ul class="no-bullets">
            <li class="font-weight-bold" data-target="#headingOne">Roleplaying</li>
            <li class="font-weight-bold" data-target="#headingTwo">Attributes</li>
            <li class="font-weight-bold" data-target="#headingThree">Skills</li>
            <li class="font-weight-bold" data-target="#headingFour">Actions</li>
            <li class="font-weight-bold" data-target="#headingFive">Striking</li>
            <li class="font-weight-bold" data-target="#headingSix">Likelihood of Success</li>
            <li class="font-weight-bold" data-target="#headingSeven">Effects &amp; Damage</li>
            <li class="font-weight-bold" data-target="#headingEight">Melee Combat</li>
            <li class="font-weight-bold" data-target="#headingNine">Armor</li>
            <li class="font-weight-bold" data-target="#headingTen">Grappling</li>
            <li class="font-weight-bold" data-target="#headingEleven">Injury</li>
            <li class="font-weight-bold" data-target="#headingTwelve">Blood Loss</li>
            <li class="font-weight-bold" data-target="#headingThirteen">Experience Gain</li>
            <li class="font-weight-bold" data-target="#headingFourteen">Spending Experience</li>
            <li class="font-weight-bold" data-target="#headingFifteen">Animals</li>
            <li class="font-weight-bold" data-target="#headingSixteen">Non-Player Characters</li>
            <li class="font-weight-bold" data-target="#headingSeventeen">Tactical Gear</li>
            <li class="font-weight-bold" data-target="#headingEighteen">First Character</li>
        </ul>
    </div>

    <div class="contentText col-9 col-md-10 border border-dark rounded">
        <div class="accordion my-3" id="backstoryAccordion">
            <!--CARD ONE-->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ROLEPLAYING
                    </button>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            2012: The end of the Mayan Calendar.  In short, this ancient prophecy was an abject lesson in Murphy's Law, the domino effect, and the hubris of man when we toy with things we barely understand.
                            Historians and military tacticians alike will study the events that occurred at this moment for generations to come, as it signals the end of an age as well as the birth of a new era.
                            As to exactly what actually happened, and more importantly how these cataclysms unfolded, is simply speculation and conjecture at this point but one thing is certain.  It all started with an earthquake.
                            Not simply a standard seismic tremor, but the world shattering seizure of mother earth herself.  Geologists have long warned of the possibility of a major disaster striking the Pacific Tectonic Plate with
                            California and Japan being at the epicenters, but their assessments turned out to be conservative at best.
                        </p>
                        <p>
                            'Twas the night before Christmas, or just a few days prior, when this metamorphosis began.  Without rhyme, reason, or warning the entire planet entered it's most violent of death throes.
                            The Pacific's “Ring of Fire” collided with its neighbors so spectacularly that not only were the readings off the Richter Scale, but each plate rippled its effects on to the next in line until the sequence came full circle.
                            Despite the monumental damage that unfolded at the fault lines both above and below sea level, the repercussions had only begun to surface.  This quake's aftershocks were both brief and powerful, causing a simultaneous
                            eruption of both recently active volcanoes and their long dormant super-siblings.  There are reports that buildings as far east as St. Paul collapsed from the ash accumulation on their roofs.
                            Combined with the towering tsunamis that would shortly make land-fall, these images were certainly a sign of the times and the transformation to come.  And so the Earth shall tremble...
                        </p>
                        <p>
                            Suffice to say, having such an immense global catastrophe occur right before Christmas Eve, the western world was dumbstruck.  Not only were hundreds of thousands of people affected by the schism of the earth itself,
                            having their entire lives swallowed by the blue, or finding themselves buried in the ashes of the volcanic eruptions but all air and sea travel were halted immediately.  This made supplying the rescue operations all but impossible.
                            Once the dust settled, humanitarian action swept across the nation, as well as the rest of the globe as they have so many times before.  March of Dimes, Toys for Tots, the Salvation Army, every manner of voluntary relief and rescue
                            assistance effort imaginable sprang out of the woodwork in their traditional fashion.  States of Emergency were declared, National Guard were deployed, Corps of Engineers scrambled, etc. etc. In the flurry of abrupt action paired
                            with unusually single-minded organization and oversight, a few critical details were missed or at least overlooked. It wasn't until the day after New Years that America's worst fears were realized.  It is important to keep in mind
                            that this is a vast nation, so the topics covered vary from place to place and great care has been taken to provide a general overview rather than region specific details.  Not that it honestly makes the situation any better given
                            the state we are collectively in now...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD TWO-->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ATTRIBUTES
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            In the small hours of the morning, volunteers, party animals and insomniacs experienced significant cellular malfunctions.  Dropped calls, garbled text messages, social media disconnects, so on and so forth.
                            Within the hour most internet communications suffered similar interference.  Shortly before sunrise, some lucky few had the chance to witness our interceptor missile defense system at work, fail, and manage to survive.
                            That's when all hell broke loose and the once formidable United States of America was blindsided by Nuclear Armageddon in a devastating opening attack that would all but remove them from the playing field of World War III.
                            Intercontinental Ballistic Missiles and nuclear submarine payloads rained fire and brimstone on our homeland in a disastrous pre-emptive strike.  At first we couldn't grasp how our defenses failed so miserably but now the answer is clear.
                            That network interference was a massive and highly coordinated cyber-warfare maneuver.  Once enough digital attacks reached their marks or at least overwhelmed the systems, the Russian's and their allies knocked our satellites out of orbit
                            with surgical precision and long range missiles.  No eyes in the skies meant crippled guidance systems, and thus a calculated risk to test the theory of “Mutually Assured Destruction”.  Retaliatory strikes were launched and its hard to say for certain,
                            given that we were all but knocked out of the ring before the fight even started, but as far as the rest of the world was concerned we failed to deliver “mutually”.
                        </p>
                        <p>
                            There are a few things we know without a doubt.  The tactic was clear.  This was a once in a lifetime opportunity for our fiercest competitors to force the United States to backpedal roughly a hundred years via a no-punches-pulled, no-holds-barred opening assault.
                            Every major port, financial center, intelligence nucleus, fuel refinery or reserve, air traffic hub, or stockpile of military assets was the target of this cataclysmic nuclear bombardment.  Both coast's major cities were unconditionally decimated as well as
                            Washington DC, Atlanta, Chicago, NORAD in Colorado Springs, with special attention paid to the total annihilation of Texas' Oil Infrastructure and even the primarily untapped petroleum resources of Northwest Appalachia.  Some remote areas that seem to make zero sense to the untrained eye were even hit,
                            no doubt the result of decades of intelligence operations conducted by our formidable adversaries.  Over time, a few key points have made their way around the campfire and back to the general public.  We definitely weren't the only target, and history always seems to repeat itself.
                            Our forces abroad report that as usual Europe was the front-line of a massive battlefront, the Middle East was a bloodbath, and Asia was a bit of both as Chinese forces cinched their strangle hold within the South China Sea.  But before we get ahead of ourselves,
                            this is where things went dark for North America.  No matter which way you spin it, the cards were looking pretty grim for the people of the United States.  War was the first horseman of this apocalypse and through a combination of nuclear fallout, ash, dust,
                            and atmosphere disturbed by unexpected thermal incidents he managed to block out the sun in the coldest months of the year.  It was only a matter of time before this newly formed hellscape froze over.  Nuclear Winter manifested and Death casually joined the party, on a pale horse no less...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD THREE-->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        SKILLS
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            The blizzards started out as freezing rain, as dark as the midnight sky, then gradually switched to incessant snowfall that lasted for months.  With the vast majority of senior leadership dead or missing, Martial Law was the only option.
                            The civilian population was instructed to lock down as soon as the decision was made. Fear of radiation poisoning and imminent invasion made it an easy sell for the public.  Unfortunately with so many major metropolitan areas already devastated by the opening onslaught,
                            the priority of rescue and recovery were focused on the epicenters.  Many of the outlying survivors found themselves comparably isolated in frigid conditions without power or running water.  Within a few days, felled trees delivered their own issues for the energy grid,
                            leading to more frozen and ruptured pipes.  Combined with the fact that the roadways were nearly impossible to navigate being icy, snowblind, and in complete darkness plus the loss of the cellular network the primary restoration and relief efforts failed miserably.
                            This wasn't only in the north either. Old man winter came with a fury and raged as far south as the foothills of the mountains in Georgia.  Untold numbers of households either froze to death, starved, suffered a structural collapse, or fell to their “pre-existing conditions”.
                            In late March, the ones who were able to endure emerged from their shelters to find an eerily calm and utterly apathetic environment as the snow gradually melted away to reveal the horrors that transpired after the sun could no longer penetrate the clouds.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD FOUR-->
            <div class="card">
                <div class="card-header" id="headingFour">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ACTIONS
                    </button>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            With the thaw, Uncle Sam's priorities shifted from damage assessment, asset recovery and relief efforts to stabilizing the electricity grid, restoration of necessary infrastructure, and mass mobilization to deploy all available battalions to the Pacific Northwest and British Columbia.
                            While the campaign of air superiority was severely hindered by the weather, the naval engagements on the west coast were catastrophic at best.  The bad news was that the Russians successfully invaded Alaska without delay, the good news was that in spite of their familiarity with Siberian
                            environments their advance stalled in the mountains of BC thanks to the ice storms and rapid response of the defending troops established within.  American forces abroad were supporting their respective allies and thus receiving their necessary supplies from them directly.
                            BC was the spearhead of the Russian offensive on this front, and thus the highest priority to homeland defense, followed closely by preservation of our oversees detachments for a counter offensive.  Reserve forces were sent to the West Coast, Alberta, and the Eastern Rockies to secure, reinforce position,
                            and rotate manpower and materials as needed.  Homeland Security and FEMA took the wheel as far as civilian life was concerned.
                        </p>
                        <p>
                            The task was monumental, but after weeks of agents working in the dark the objective was clear.  It started off strong.  FEMA was already established at the targeted cities, from there they spread out into the surrounding counties and regions.  The people were informed of the gravity of the situation
                            and volunteers signed up by the thousands, both for military and civil roles.  Gasoline restrictions were put into effect immediately, with the general idea being get wherever you need to go and stay there.  Many small towns were informed that fuel preservation was of critical importance,
                            and the would only receive trucks at their local gas stations until a certain date.  Grocery shipments would cease then as well.  People should do everything they can to gather up their friends and family in the immediate area and head to the nearest transportation center or relief camp by that time.
                            In most areas the hospitals, bus terminals, train stations, airports, fuel and freight depots had been locked down by the national guard or local police immediately.  All residual and tertiary facilities were being secured at this particular point in addition to pharmacies, veterinary clinics, and any place that sold ammunition.  The race was on.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD FIVE-->
            <div class="card">
                <div class="card-header" id="headingFive">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        STRIKING
                    </button>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            This was the moment that everyone realized that a battlefield on the home-front during the 21st century would be vastly different than any of our recent conflicts overseas.  For one, it became evident that governments and militaries were not the only runners in this match.  From the moment the nukes landed every sleeper agent, terrorist cell,
                            mercenary operative, and organized criminal member had the green light to sprint.  State and local government representatives had been assassinated during the course of Nuclear Winter.  Major jailbreaks went down wherever the Russian Bratva, Chinese Triad, South American Cartels, and Japanese Yakuza were concentrated.
                            County detention centers were being stormed and their inmates released indiscriminately across the continental US.  Cash bounties were being offered for dead cops, judges, civil leaders and government officials.  Gangs and corrupt police were being tipped off on where crucial supplies were not fully secured.  Once the hive started buzzing again it was open season for the underworld.
                            Indiscriminate terrorist attacks at the FEMA camps and civilian transportation centers swelled as the refugees arrived in droves, making it a target rich environment. Needless to say; natural phenomena followed by Nuclear Armageddon, leading to invasion, plus guerrilla warfare and terrorist attacks from within wasn't exactly covered in the Department of Defense standard issue handbook.
                            Every advisor from the Cold War era had long left the cabinet, communications systems were knocked back at least two decades, and it's reasonable to believe that the concept of systematic prison breaks likely never made the books.  Pandemonium would be the understatement of the century.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD SIX-->
            <div class="card">
                <div class="card-header" id="headingSix">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        LIKELIHOOD OF SUCCESS
                    </button>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            In the beginning, roughly two thirds of the populace heeded the warnings of the fuel and food cutoff dates and were relocated to the remaining cities refugee centers.  The other third, wary the terrorism associated with travel and grouping together in mass, chose to either fight themselves or dig in and try to wait it out.  Here we witnessed the rise of America's assorted militias and their associated “Holdout” settlements.
                            However, it didn't take long for Russian forces to overwhelm the troops in BC once the aerial aggression began full throttle.  With limited naval support thanks to the losses to the Pacific Fleet during Nuclear Winter and the vast majority of combat ready veterans essentially locked in conflict across the Atlantic Ocean, our men and women in uniform gave them hell but in the end the port of Prince Rupert fell to Russian conquest.
                            With this news unfolding the defense of Prince George became paramount.  Consequently, it didn't take long for the restoration efforts of the power systems to divert all energy to the city centers and leave the unorthodox Machiavellian factions, friend or foe alike, literally and figuratively “in the dark”.  This allowed them to refocus their endeavors toward communications in order to gather intelligence regarding the European
                            and Middle Eastern fronts and ultimately what to do next.  The landscape was transforming in short order, and every second counts.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD SEVEN-->
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        EFFECTS &amp; DAMAGE
                    </button>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            To further complicate the agenda, climate change was no longer a question of when, but how?  By early May, it was hot.  By June it was drought.  The running theory is that all of the volcanic eruptions and nuclear detonations punched massive holes in the ozone layer much like when Mt. St. Helen's blew decades ago. Many climatologists believe this started the first major loss of atmosphere that's been getting growing larger and larger via carbon emissions ever since.
                            Never the less, twisters tore throughout the countryside as the mid-western “Tornado Alley”, Indiana and Ohio's “Hoosier Alley”, plus the south's “Dixie Alley” merged into one another, birthing what locals would affectionately name “Cyclone Boulevard”.  The Russian advance used California's typical fire season and dispatched napalm strikes to the Redwood Forests and southern Oregon, scorching the earth as far south as Bakersfield and as far north as
                            Eugene opening what the natives dubbed “Hell's Gate”.  Once hurricane season hit the island residents of Cuba, Jamaica, Haiti, the Dominican Republic, and Puerto Rico had throngs of their people make a mass exodus either North to Florida; West to Central America; or South to Columbia and Venezuela.  Many did not make it at all, tossed by the storms and swallowed by the sea.  Telling tales of golf ball sized hail, gale force winds, and torrents of rain,
                            many of these people had already lost everything to the quake before the storms, and only then did they choose to flee.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD EIGHT-->
            <div class="card">
                <div class="card-header" id="headingEight">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        MELEE COMBAT
                    </button>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            This leads us to the still standing metropolises and their growing refugee dilemma.  The situation wasn't great at the start but it wasn't terrible either.  As expected, most of the displaced were sent to the smaller cities and their suburbs that managed to maintain a reasonable standard of living, and could still serve as transportation hubs.  Obviously the hotels were the first to fill up, then convention centers, sporting arenas, so on and so forth.
                            Once the power was cut and food stopped being delivered to outlying grocery chains, the influx picked up pace rapidly. At first, the fuel rations remained in place and the general plan of action was to help the people get in contact with their families out of state so that people could combine resources.  Officially all commercial public fuel sales ended July 4, 2013 with the remainder of the reserves to be distributed amongst the armed forces, emergency response, critical infrastructure, and rebuilding supply lines.
                            Over the next few months, more and more people would find themselves seeking sanctuary and strength in numbers as their attempts to hold their own yielded little fruit thanks to the chaos, inclement weather, and loss of commodity took their toll.  Many ended up living out of their vehicles on the city streets.  Parking deck communities and groups of transients breaking into and encamping within abandoned storefronts, warehouses, or basically anything with four walls and a roof began sprouting up out of the concrete from coast to coast.
                            The public service system was beyond overwhelmed, and this was the inevitable outcome.  With so little to spare, it was only a matter of time before these people would band together and form squat gangs of their own.  In an attempt to relieve some of the pressure on the parents of the US, Strategic Command decided to attempt to resurrect the education system within the city centers by establishing the “Youth Corps”.  Not only did this free up the able bodied adults to contribute to local and national needs;
                            but it provided food, shelter, clothing, basic education, and more importantly training to the displaced and local children of the city centers with a strong focus on civil service and practical skills.  Obviously, results varied from region to region but the ranks of essential workers swelled.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD NINE-->
            <div class="card">
                <div class="card-header" id="headingNine">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        ARMOR
                    </button>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            Once the communications network commenced its long journey towards a gradual recovery, we got a reasonable idea of exactly how deep in the hole we actually were.  From whats been pieced together ever since, the running theory is that the quakes of 2012 were the catalysts for Brazil, Russia, India, and China (BRIC) to realize their goal of replacing the dollar as the core determinant of international exchange.  Brazil's role was reasonably straightforward, prevent Venezuela from providing crude oil to the US
                            and curry as much favor and anti-american sentiment as possible among South America.  Keep the pressure on to ensure that as little aid as possible flowed north to the United States.  After decades of political interference and destabilization efforts, plus the abrupt halt of commerce that wasn't particularly difficult to achieve and maintain.  Russia's role, at least regarding the USA was chiefly militaristic.  They led the initiative in the destruction of the satellite network and nuclear bombardment,
                            and then commenced their invasion into Alaska to secure oil fields there, and then force a two pronged advance.  One fork would continue East to capture and control the Canadian oil supply.  The other would move South in order to remove our capacity to influence naval trade in the Pacific.  India and China were the leaders of the cyber-warfare aspect of this daring plan, as well as contributed heavily to the satellite neutralization efforts.  India was already familiar with the our communications
                            and IT infrastructure having worked as outsourced tech support and development for so long, and China has been supplying consumer electronics and replacement parts since the inception of the internet.  As a manufacturing powerhouse, they already had a backdoor into the hardware of our software systems combined with the fact that so much machinery, replacement part production, medical equipment, and generic prescriptions were being developed within their borders, all they really needed to do was halt delivery of service.
                            All of them worked together to outbid us on Saudi Arabian oil access, the goal was simply to strangle our military and financial influence now that the cards were revealed.
                        </p>
                        <p>
                            For better or worse, this information came to light right as Prince George went under occupation.  The stage was set, the lines were drawn, the fog of war began to dissipate ever so slightly.  The truth was more frightening that the speculations, but now we understood what was coming and knew what to focus our efforts on.  Conquest was not the objective, only control, not that there is much difference between the two.  America rallied every ounce of strength it could muster for the impending siege of the Pacific Northwest and the expanse of the Russian offensive into Alberta.
                            After so many reports of defeat pouring in from the European and Middle Eastern fronts, all support to our overseas detachments ceased entirely.  Americas highest priority became the preservation of its remaining oil assets, which meant Canada and Venezuela if possible.  Secondarily was the defense of our battered harbors of the West Coast.  Our armed forces abroad were instructed to assist our allies in any way possible, report any intelligence back home, and await further orders once the home-front was secured.  To this day, we civilians still don't know if any further directives were issued...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD TEN-->
            <div class="card">
                <div class="card-header" id="headingTen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        GRAPPLING
                    </button>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            With the war in British Columbia raging meaning Canada was already contributing all they could to their own defense and only passive humanitarian assistance coming in from Mexico to the Southwest and California, our newfound Military Stratocracy developed a few unique strategies to attempt to ensure sustained efforts against our opposition.  A major innovation took place promptly regarding prison reform, convict labor, and conscription that has been refining itself continually ever since.  Someone high in the ranks made the case that with so much of the population behind bars due to the war on drugs and martial law being in effect,
                            the massive amount of this human capital should serve their debt to society in more productive ways than simply sitting idle. The closing argument was that they were technically “Prisoners of War”.  Given that at the time Alaska was invaded, the state could technically execute its felons at will, the inmates were presented with an option albeit not much of one.  Those who could pass the reduced physical requirements for military service could enlist for the duration of their sentence with the option of pardon for exemplary performance.  All others could serve the remainder of their time in a civil role, working the fields for food production primarily,
                            followed by manufacturing of wartime supplies or general labor such as road or railway repair.  Those unfit or physically unable to perform such tasks could assist in technical, administrative, or clerical work.  Any felon to refuse were to be executed via firing squad and the Parole Board was suspended indefinitely.  Misdemeanor offenders were offered the same option minus execution, they would work or they would fight, but their crimes would be pardoned immediately if enlisted.  For most, the “choice” was reasonably clear.  For those in remote facility locations, irrigation for the outlying landscape began post haste.
                            With freight restricted and so much livestock lost during Nuclear Winter, the state knew food shortages were going to be an issue that couldn't be ignored...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD ELEVEN-->
            <div class="card">
                <div class="card-header" id="headingEleven">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        INJURY
                    </button>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            Winter was particularly mild for 2013 until mid February where the polar vortex changed its tune.  This kept to fight for BC running in full tilt.  With the fall of Kamloops, Russian forces began the fork of their Canadian campaign.  Half of their forces began to fight their way into Jasper and Banff towards Edmonton and Calgary, and the other half commenced the siege of Vancouver and Seattle.  With the red navy mounting long range attacks from the Pacific and their ground troops being reinforced from Prince Rupert plus armor pouring in from Alaska, our freshly trained recruits had their work cut out for them.
                            Vancouver became the new Alamo as its citizens were encouraged to evacuate along with Seattle's non-combat population.  This was the new theater of operations, and the will to hold the line here was forged from iron and blood.  The carnage exchanged here would echo and reverberate the surrounding countryside for months on end.  No effort was spared to maintain this defense, this was to be our Rubicon...no retreat, no surrender.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD TWLEVE-->
            <div class="card">
                <div class="card-header" id="headingTwelve">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        BLOOD LOSS
                    </button>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            Spring of 2014 was where we learned that the effects of the volcanic eruptions and nuclear war had upon the polar vortex, and climate change as a whole, would be irreversible.  The late and often intense frosts of the winter were fearsome, and utterly menacing the mid-west.  Tornado season within cyclone boulevard was beyond intense, further damaging the remaining infrastructure and crop lands.  For most parts of the country, summer was brutal hot and dry.  This lead to more naturally occurring wildfires for the west coast, and extreme drought elsewhere until the arrival of hurricane season.
                            Once this batch made landfall, super-storms were the name of the game.  Flash floods lead to more infrastructure damage, building collapse, and flash flooding.  All of these factors lead to a sharp increase in the refugee population immigrating to the established city centers when combined with food shortages, crop failure, and violence in the “Outlands” or essentially anywhere outside of the protected metro regions.  In order to counter this, a massive endeavor took place to ramp up security via extensive CCTV installation, surveillance protocols, and increased police presence.
                            Restoration focus was centered on increased communication capacity and the railway systems to relieve pressure on freight and fuel consumption.  With the fall of Vancouver and Seattle in early October, and the further exodus of refugees from the west coast flowing out of Washington state and Oregon it became apparent that our current production and food reserves would not meet demand of the displaced for long.  Supplying our forces in the Pacific Northwest was critical as Russian detachments fortified their newfound footholds and continued pushing South towards Oregon and East into Alberta.
                            This was the point that the draft was reinstated, targeting the hordes of teenage youth enrolled with the Youth Corps educational program.  Reports from our allies overseas were just as grim, WWIII had no end in sight.  Desperation began to take hold, as many found themselves hungry and malnourished that winter.  Turns out a hungry America is a dangerous America, and many people turned to scavenging and violence away from prying eyes.  Gambling, prostitution, and knives returned in a big way for the urban refugees as the seeds of a new underworld were sown.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD THIRTEEN-->
            <div class="card">
                <div class="card-header" id="headingThirteen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        EXPERIENCE GAIN
                    </button>
                </div>
                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            With intense combat rocking Washington state and Oregon along with sensing the surge of despair, Strategic Command under Military Rule, switched gears to assess operations concentrated on sustainability as criminal activity escalated within the severely overcrowded urban refugee centers.  This was the greatest threat to the inventory for the war effort.  With the majority of the major railways between these locations up and running, supply shipment was finally beginning to increase.  The next step was to restore the tracks to the ports and metros struck by the opening bombardment
                            and begin to adjust energy distribution in hopes of reclaiming the fishing, transportation, and exchange industries.  Having a decent understanding of when the Mississippi and its confluences had high enough swells to travel, ferry and riverboat transit up and downstream could easily occur from Minneapolis to New Orleans.  With these two facts in mind, a couple of tremendously ambitious initiatives took place in order to mitigate ever increasing demand on public service and supply.  The time had come to network with the existing holdout communities and set up work camps and trading posts
                            within the Outlands nearest the refugee centers, production facilities, and FEMA locations.  This provided transportation of goods and services as well as security and road patrols, though the efficacy varied from state to state and region to region.  In any event, slowly but surely government and private influence began to reach out to the suburbs and small towns near and dear to the now densely populated metropolises.  This granted work and thus sustainability and survival to the ones willing to take the risks of these endeavors.
                            As trade with the ones who took the self sufficiency route began to flourish, more and more scavenged goods began to recirculate into the public domain for both parties.  For the first time in over a year, the holdout settlements gained access to medical services and supplies, new tools and construction supplies, batteries, food exchange, and occasionally even electricity or running water.  Gradually, more and more of the displaced but capable individuals crowded in the cities began to spread outward and forge new roots and bonds as confidence and commerce started to rise from the ashes of the Nuclear Holocaust.
                        </p>
                        <p>
                            The momentum gain was slow but steady.  However, as things improved for the honest they also improved for the desperate opportunists.  Banditry soon gained a foothold as the criminal elements saw the nominal surplus flowing into territory that still had no electricity, thus no surveillance, plus limited patrols or protection.  For many of the less altruistic Outlanders who did not directly benefit from this trade and expanse the temptation was too simply too high, and if no witnesses were left to tell the tale they could continue indefinitely.
                            Between the escaped convicts, the organized criminals, the nomadic scavenger gangs, the hungry outcasts, the draft dodging youth, the homicidal lunatics, and the conceited militias that sprung up over time progress was piecemeal at best.  Within the ranks of the “law-abiding” greed, corruption, and often necessity played no small roll in hindering these exploits.  A few things became certain during this time period though.  The vast majority of the remaining fuel and ammunition belonging to the public were burnt up.  Alternate transportation such as bicycles, roller-skates and skateboards, horses and cattle, makeshift wagons and trailers,
                            and any cart with wheels suddenly became worth its weight in gold.  With the rise of violence, bullets became the new American currency for the Outlands, and the vast majority of it was being funneled to the police forces and national guard locally or supporting the troops in the Pacific Northwest with little to no production occurring.  To top it all off the remaining cash and paper currency was being exchanged within the areas that had both electricity and internet connection at a two to one rate so paper money was evaporating rapidly.
                            Work crews within city limits and at Outlander labor camps were being paid with direct deposits that could only be utilized in said areas, though phone to phone QR commerce became priority for the trade with the Outlanders with government and financial sector IT crews working round the clock to manifest the solution.  Needless to say, barter economies rose exponentially from coast to coast and would set the standard for Outlander life to the current day.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD FOURTEEN-->
            <div class="card">
                <div class="card-header" id="headingFourteen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                        SPENDING EXPERIENCE
                    </button>
                </div>
                <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            Just as the railways were finalizing their reconstruction at the Nuclear Epicenters, Portland, Eugene, and Salem fell to the Russian invasion.  Everything west of these locations along the coastline fell as well.  Tremendous carnage ravaged the hills headed towards Bend, Yakima, and Wenatchee.  At this point our interceptor Air Force was in ruins.  Every small plane or helicopter registered with the FAA had already been acquired, put into service, and utilized.  Commercial Jet liners and Air Freight were in the same category.  Transportation was becoming a major issue, and fuel was being hauled away from the refugee cities in droves.
                            The metro police within the control zones were forced to forfeit use of their squad and patrol cars, regardless of whether or not they were officially government property or makeshift conversions.  Every spare drop of fuel and ammunition was sent west, leaving the vast majority of these supposed peacekeepers patrolling beats on foot and desperately trying to conserve ammunition.  Without superior firepower or mobility, the tables turned for the desperate and lawless.  When all was said and done, only those deemed critical to maintain patrols to ensure preservation of the supply lines across the Outlands, such as National Guard
                            and State Troopers were being outfitted with these two critical resources and even then their patrols devolved into critical escorts of priority goods like medicine, ammo, rapid deployments of necessary manpower or the large convoys of reconstruction material on route via alternate methods.  Needless to say that as their supplies dwindled, so did the general public's.  This is when the Terrorist cells struck their most devastating blow.  Between the criminal elements snatching up as much food as they could and reselling it at exorbitant prices, the foreign extremists took it one step further.
                            In acts of terrible cruelty they began sabotaging, poisoning, or simply torching the packaging facilities wherever possible.  In conjunction with another icy winter taking down the freshly repaired power lines and collapsing occupied roofs across the Outlands the sum of starvation, freezing, and illness became too much to bear for the citizens of this country.  What this meant was that those who once felt safe and secure no longer harbored any of those feelings, and in many cases they already knew how the logistics worked by the time they decided they needed to look after themselves first and foremost.
                            Desperation combined with another harsh winter plus meager meal rations lead to near total systemic collapse, as the individuals who once upon a time were pushing for the greater good and a speedy recovery had to seriously question their belief in a better tomorrow.
                        </p>
                        <p>
                            After so much hardship, struggle, strife, and bloodshed its safe to say that the winter of 2015 was where the American Spirit broke.  All but the most benevolent or brainwashed still believed that life would ever return to what it was or that we could bounce back.  Starvation is a cruel end, and a hungry America is a dangerous America.  The suicide rate skyrocketed.  Once peaceful and reasonably decent human beings found themselves engaging in violence, prostitution, theft or other heinous activities to feed themselves or their loved ones.   Even the dimmest of the dull was forced to realize that as an individual there was no help coming,
                            no relief on the horizon, no big brother to the rescue.  Survival was all there was, period, and it was up to them to ensure that they saw another day without hunger or death.  Famine rode its black horse across this landscape for the first time since the industrial revolution, and trampled the meek without an ounce mercy or pity for those underfoot.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD FIFTEEN-->
            <div class="card">
                <div class="card-header" id="headingFifteen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                        ANIMALS
                    </button>
                </div>
                <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            Anyone other than the exceptionally lucky that survived the winter of 2015 knew without a shadow of a doubt that they could never let that happen to themselves again, and were prepared to do anything necessary to be certain that possibility was never ever on their personal horizons in the future.  Nearly everyone emerged from the frosts with either physical, mental, or emotional scars.  Desperation leads to Desperadoes.  Never again.  The inevitable chaos resulted in drastic shifts of power, control, and influence depending on the specific venue or landscape that the drama unfolded.
                            The distinction between the “haves” and the “have-nots” was never clearer, and the appetite for some semblance of control grew insatiable.  American Society had all but reverted to tribalism, with echoes of past abundance guiding the dreams of the future.  Various communities of all types pulled together after surviving such a horrific ordeal and collaborated extensively to address the problems that plagued them so recently, each with their own solutions.
                        </p>
                        <p>
                            Well aware of the kettle about to boil over, Strategic Command operating as Continuance of Government (affectionately referred to as the COG by most at this point) issued yet another game changing set of decrees, especially with the railways running to the Nuclear Epicenters and all of the East Coast and Gulf harbors.  First and foremost was the “Local Farming Initiative”.  This one was reasonably straightforward.  The refugee centers would prioritize the establishment of immense urban farming systems by forcibly removing homeless encampments within every urban park and riverfront.
                            Local police would serve mandatory “Eviction Notices” anywhere that made sense for a high yield crop environment, including office towers, parking decks, and parking lots for raised bed gardens.  The Youth Corps and volunteer workforce would spearhead the operation regarding makeshift irrigation systems and seed, greens, or root crop distribution free to the public.  Immense packaging, canning, and jarring facilities were created out of repurposed storefronts, public, and private facilities.  Nearly everyone took advantage and began to grow their own food wherever possible.
                            Terrace farming and hanging gardens sprouted from the woodwork.  Greenhouse plastic became a major commodity.  Long term goals even roused with the birth of fruit orchards wherever possible.  For most, no-one was concerned with bullets or gasoline anymore, food was more important than anything else.
                        </p>
                        <p>
                            The second decree was the “Squatter's Enterprise”.  On a national level it was universal, but each locality had its own fine print.  Generally speaking, the idea was that if a party could successfully prove occupancy of an abandoned domicile, without contest, for 24 months they were then awarded the deed on record as long as it was zoned residential.  There was definitely a lot of fine print, and once the court systems awakened from their long slumber there was endless civil suits but from its inception this decree opened up the Outlands to any ambitious soul that dare seek change.
                            The results were all but instantaneous, US citizens left the supposed safety of the urban havens in droves to reclaim the old frontier.  More and more trading posts were established as quickly as possible to maintain the flow of seeds and supplies to this new expanse.  Unfortunately, there were inevitable disputes, disagreements and engagements with the multitudes of now nearly lawless self preservationists.  This was all but the absolute end of civilian ammunition as trade centered around keeping the National Guard and Police forces stocked to shepherd this excursion or the continued defense of the West Coast and Canada.
                            Things were particularly tense in the old ports of the East Coast as outsiders tried to force their claims against the native population that refused to leave even after the nuclear barrage.  While it managed to lure a large swath of the population away from the refugee centers, it also ended up pitting many Americans against one another, and the rise of the defensive tribe for protection proved inescapable.  Frontier Law returned with a vengeance to North American soil.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD SIXTEEN-->
            <div class="card">
                <div class="card-header" id="headingSixteen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                        NON-PLAYER CHARACTERS
                    </button>
                </div>
                <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            Harsh engagement in the Northern Rockies of Washington and Oregon eventually lead to the Russian military concentrating their efforts South following I-5 and the Pacific Coast Highway.  Once again, by accident or intent, “Hell's Gate” was opened once more at approximately the same time that the symbolic flagship of the Pacific Fleet sank to the bottom of the West Coast.  Due to the extreme heat, the blaze spread rapidly, even well into their own occupied territory surrounding Portland.  Under the cover of Naval Support and smoke, red forces overran Medford, shortly followed by Mt. Shasta, and Eureka.
                            Subsequently the coastline and Redding in particular was caught in a deadly pincer maneuver as this was the first time Chinese forces made landfall to support their allies.  Operating under such intense conditions, the scorched earth policy became fully realized.  Between missile strikes and a massive aerial blitz, every forest north of Tahoe and Mendocino became immolated with napalm and oblivion.
                        </p>
                        <p>
                            The fighting in these hellish, low visibility conditions lasted for weeks.  Zero effort could be summoned to battle the blaze itself.  It consumed all but the few pockets where it failed to merge into an unstoppable complex, and the artillery and surface to air missiles did little to improve the situation.  In a bizarre twist of fate, immediately after the Corps of Engineers committed to the decision to blow Shasta dam in hopes of preserving the outlying regions of Sacramento from flames, the weather altered once again by granting an early El Nino.  With a little tact the troops at Ft. Bragg and Redding were able to hold out a bit longer,
                            which may have changed the outcome given the unusual circumstances.  The rain was intense, so intense that a series of landslides started to occur all over Northern California and Southern Oregon.  By some seemingly divine providence, the Reds armor and artillery were heavily stalled thanks to earth-fall and mudslides.  It was a blessing in disguise for the locals, and it came not a moment too soon. Without the fire and smoke masking their movements, these brave young men and women were able to maintain position and continue guarding the Northern California hillsides from further incursion amid the ash and mud.
                            Nothing lasts forever though, and the golden states stoic defense was no different. Once the Chinese infantry made landfall on California's coasts the situation escalated swiftly...
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD SEVENTEEN-->
            <div class="card">
                <div class="card-header" id="headingSeventeen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                        TACTICAL GEAR
                    </button>
                </div>
                <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            A major point that must be made here is that the enemy's strategy was revealed in mid 2013 and for the last three years, give or take, every possible effort was summoned from the depths of our souls to prevent the Red expanse into Canadian oil fields.  For over three years we held and resisted, fought, killed, and died; no matter the cost, in order to preserve our military integrity as a mobile army.  Thanks to the fact our troops stalled the Red's rupture into California, we know now that China and Russia reached an agreement for Asian deployments along the Pacific Coastline to guarantee mutual pursuits of disabling the US as a foreign powerhouse.
                            With Chinese forces arriving on California's shores, the Russian Army was able to redirect its battalions towards the original objective of eliminating North American access to crude oil and all of its ever important byproducts.  All offensive forces of the former Soviet Union were commanded to assemble on the Eastern Front and Calgary and Edmonton were overrun in spite of massive casualties on both sides.  In a last ditch effort, US and Canadian forces incinerated the existing pipelines and detonated the pumps, but it was too little too late.   At that moment, all American access to oil based armies, navies, and air force was severed with little possibility for international assistance.
                            The downward spiral had begun.  This was the end of an empire.  Morale was devastated, and a full tactical retreat was issued for the heavily strained forces in Redding.  Orders were to pull back and dig in at Lassen and Mendocino.  The Russians would need to spend considerable resources to maintain any control of their newly conquered Canadian oil.  The public didn't find out until later that this was the moment that the United States made the difficult decision to launch the entirety of its remaining “active” nuclear arsenal against surgical targets worldwide.  This also meant that we deployed nuclear destruction on our own and allied soil,
                            with payloads targeting Anchorage, Valdez, Junea, Prince Rupert, Vancouver, Tacoma, and Olympia on the mainland with the feared “Omega Protocol”.  The intent was straightforward enough.  Destroy or disable naval dominance and as many military assets as possible that were using these locations as a forward operations center, no matter the collateral damage.  With their air superiority unchallenged for so long, they steadily grew to overlook the possibility.  This last ditch effort was officially endorsed as the only viable conclusion.
                        </p>
                    </div>
                </div>
            </div>
            <!--CARD EIGHTEEN-->
            <div class="card">
                <div class="card-header" id="headingEighteen">
                    <button class="btn btn-block text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                        FIRST CHARACTER
                    </button>
                </div>
                <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#backstoryAccordion">
                    <div class="card-body">
                        <p>
                            As far as the civilian population was concerned, things got eerily quiet for weeks.  Resistance skirmishes continued, but the quantity and quality of the engagements were dwarfed considerably in comparison to the previous exchanges.  Then, in a sudden surge and vulgar display of power, Chinese and Russian ground forces retaliated with an unmatched ferocity.  San Francisco was razed first, with Sacramento falling shortly after.  A relentless campaign of conventional warfare commenced post haste, with the front-line holding from Yosemite to Sequoia but by mid-summer Bakersfield and Santa Barbara were occupied.  Washington and Oregon saw no reprieve either, as the area of operations was pushed from Bend and Yakima to Spokane and Baker City.
                            The siege of Boise, Reno, and Los Angeles had commenced, despite the valiant efforts of the uniformed soldiers and rag-tag militia to this point.  The climate crisis was ravaging the freshly built infrastructure within Cyclone Boulevard and along the Mississippi River, and despite battling tooth and nail to preserve every inch of ground lost our troops simply could not stop the torrents of fire raining down upon them.  It was then, and only then that deliverance arrived at our doorstep.
                        </p>
                        <p>
                            Apparently the Omega Protocol bore fruit abroad, though just barely.  The weapons of mass destruction inflicted enough damage to their marks to allow a few of our overseas allies to risk the delivery of tangible assets across the Atlantic.  It took nearly five years but NATO forces finally arrived in New York, Philadelphia, and Norfolk spearheaded by Danish, Norwegian, French, and German servicemen.  They managed to muster a reasonable amount of the necessary fuel, armor, munitions and aircraft communally and deployed upon arrival to reinforce the front-line occupying Saskatchewan and Alberta.  As conditions on the European front improved ever so slightly after several fervent engagements, more and more critical supplies began to reach the freshly reestablished eastern harbors and airfields.
                            After years of murder and mayhem on multiple fronts, the Red forces ultimately realized that they were mildly overconfident in their ability to perpetuate the aggression even after such auspicious use of the element of surprise.  The second major volley of surgical nuclear armaments across the globe was sufficient in loosening their strangle hold on the western world.    Not enough to even fathom an end to the conflict, but definitely enough to buy time for reallocation critical goods and personnel. Unfortunately with Chinese soldiers already entrenched along the West Coast and their logistical support continuing to press the advantage, the final analysis pointed towards “too little, too late”.  Regardless of this fact, the valiant warriors of the resistance wasted no time exploiting the occasion.
                        </p>
                        <p>
                            With UN fighters bolstering the Canadian theater of operations, not to mention helping secure the ports and various assets of the East Coast against the ambitious criminal and terrorist endeavors, restorative opportunities began to trickle into existence.  Sun Tzu put it best, opportunities multiply as they are seized.  With fresh reinforcements creeping in, the veteran guardsmen and reserve forces tasked with patrolling the roads and securing supply lines were reassigned to the appropriate areas of operations.  Soldiers were becoming easier to rotate based on specialization and modus operandus.  On top of this, anonymous benefactors were not only sponsoring necessities and relief goods but mercenary combatants from both the Congo and South America.
                            Responsible for their own equipment needs, they were all too happy to hunt bandits and renegades alike, without qualm or question.  More often than not they were instructed to assist in said operations rather than carry out the mission on their own, which yielded their ill-gained bounties returning to government hands. Fuel transports mysteriously began to arrive again from Venezuela.  The running theory is that the forever neutral Swedish bankers were not particularly happy about their financial losses, let alone the immeasurable loss of human life on this little blue planet of ours.  No matter the source, the burden of inventory began to lighten ever so slightly, and this alone did wonders for morale.
                            Once again, after what felt like an eon of isolated solitude, the United States reappeared on the world stage.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/Client/Wiki.js")" type="text/javascript"></script>