<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/52c86d1a-898a-48b1-bf9c-d6e8ba02646f/resourceGroups/TheAftermath/providers/Microsoft.Web/sites/TheAftermath</ResourceId>
    <ResourceGroup>TheAftermath</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://theaftermath.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>theaftermath.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TheAftermath</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$TheAftermath</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AftermathDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:theaftermathdbdbserver.database.windows.net,1433;Initial Catalog=TheAftermathDB;User ID=spearsns@theaftermathdbdbserver;Password=AftermathDB@cc355?!?" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheAftermath_V2.Models.AftermathDBEntities, TheAftermath-V2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AftermathV1Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:theaftermathdbdbserver.database.windows.net,1433;Initial Catalog=TheAftermathDB;User ID=spearsns@theaftermathdbdbserver;Password=DBConnection@cc355?!?!" Name="Data Source=tcp:theaftermathdbdbserver.database.windows.net,1433;Initial Catalog=TheAftermathDB;User Id=spearsns@theaftermathdbdbserver;Password=DBConnection@cc355?!?!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Machine;Initial Catalog=AftermathV1;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AftermathV1Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Machine;initial catalog=AftermathV1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AftermathDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ADO-Model.csdl|res://*/Models.ADO-Model.ssdl|res://*/Models.ADO-Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:theaftermathdbdbserver.database.windows.net,1433;Initial Catalog=TheAftermathDB;User ID=spearsns@theaftermathdbdbserver;Password=AftermathDB@cc355?!?"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AftermathV1Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:theaftermathdbdbserver.database.windows.net,1433;initial catalog=TheAftermathDB;user id=spearsns@theaftermathdbdbserver;password=DBConnection@cc355?!?!;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>